* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 40px;
  margin-bottom: 20px;
  text-align: center;
}

p {
  width: 50%;
  height: auto;
  padding: 40px;
  box-shadow: 2px 2px 10px black;
  margin: auto;
}
